<style>
    .row {
        text-align: center;
    }
</style>

<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Which do you like?</h1>
  <div class="col-lg- mx-auto">
    <div class="book-info">
      <h3>Un juego de clasificación de fotos y/o pinturas</h3>
      <h3>
        "Which do you like?" es un innovador programa en línea que te permite participar en una emocionante competencia de clasificación de pinturas. Con una interfaz sencilla, Which do you like?, te desafía a elegir entre dos imágenes y determinar cuál consideras que es la mejor. Con su sistema de puntaje basado en el método de Elo. Te proporciona una plataforma única para evaluar y clasificar diversas fotografías y pinturas.
        <br>
        La experiencia de usuario es fácil de entender. Una vez que te registras y creas tu perfil, puedes comenzar a cargar tus propias fotografías o pinturas para participar en la competencia. La interfaz te presenta dos imágenes lado a lado y te invita a tomar una decisión sobre cuál de ellas te gusta más. Esta simple mecánica de juego hace que sea fácil y rápido participar, lo que lo convierte en una opción perfecta para pasar el tiempo libre o explorar diferentes estilos artísticos.
        <br>
        La experiencia de usuario es fácil de entender. Una vez que te registras y creas tu perfil, puedes comenzar a cargar tus propias fotografías o pinturas para participar en la competencia. La interfaz te presenta dos imágenes lado a lado y te invita a tomar una decisión sobre cuál de ellas te gusta más. Esta simple mecánica de juego hace que sea fácil y rápido participar, lo que lo convierte en una opción perfecta para pasar el tiempo libre o explorar diferentes estilos artísticos.
      <br>
      El sistema de clasificación de Lala se basa en el popular método de Elo, ampliamente utilizado en competencias de ajedrez y otros juegos. Cada vez que tomas una decisión y seleccionas la mejor imagen entre las dos opciones, tu puntaje Elo se actualiza en función de la dificultad de la elección y tu historial previo. Esto asegura que siempre estés emparejado con imágenes que estén a tu nivel de preferencia y que la competencia sea justa y desafiante.
      </h3>
    </div>
  </div>
</div>

