<div class="col-md-6 col-md-offset-3">
  <div class="new-book-form">

    <h2><strong>Score User:</strong></h2><br>

        <% @users.each_with_index do |user, index| %>
          <h4><strong><%= index + 1 %>.     <%= user.username %>: <%= user.elo_ranking %></strong> </h4>
        <% end %>

  </div>
</div>